form {
	width: 40%;
	margin-left: auto; 
	margin-right: auto;
}

fieldset {
	border: solid 3px green;
	border-radius: 15px;
}
legend{
	color: white;
	font-size: 1.3em;
	background-color: green;
	width: 40%;
	height: 2em;
	text-align: center;
	border-radius: 0.5em;
	border: solid pink;
	padding-top: 0.5em;
}
#nameHotel {
	text-align: center;
	font-size: 2em;
	margin-top: 10px;
}
#enter {
	font-size: 140%;
}

#in {
	width: 48%;
	float: left;
}
#out {
	width: 48%;
	float: right;
}
#numRooms {
	width: 15%;
	margin-right: 125px;
	float: left;
}
#numAdults {
	width: 15%;
	margin-right: 125px;
	float: left;
}
#numChildren {
	width: 15%;
	float: left;
}
#ageAdults, #ageChildren {
	font-size: 80%;
}

#confirm {
	clear: both;
}

#cancel {
	float: right;
	margin-right: 30px;
}
#reserve {
	float: right;
}
#bookIt {
	background-color: green;
	color: white;
}
#closetab {
	text-align: right;
}